<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            text-align: justify;
            text-align: center;
            color: white;
            background-color : #0288DD;
            font-family: Ubuntu;
            font-size: 1.8em;
        }
    </style>
    <title>ABOUT</title>
</head>
<body>
    <h3>ABOUT</h3>
    <pre>
        This project was done as a junior capstone project design by Imranul Ashrafi,
        Muntasir Mohammad and Abidur Rahman under the supervision of Zunayeed Bin Za-
        hir, Faculty, North South University. Any fault in the preceding is complete-
        ly our fault and should not tarnish his reputation.

        The model implemented uses public comments from e-commerce pages of Facebook
        taken through Facepager, a software for extracting data through Facebook gra-
        ph API. No personal comments were used and the software is open source which
        is used by researchers all around the globe. Anyone wishing to help in impro-
        ving our project is cordially welcomed. The project source can be obtained by
        following the GitHub link.
    </pre>
</body>
</html>